.body {
    font-family: Arial, Helvetica, sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.conteyner {
    width: 1200px;
    height: 2000px;
    margin: 0 auto;
}

.site-navigation {
    font-size: 16px;
    text-transform: uppercase;
    color: #626262;
    list-style: none;
    display: inline-block;
    height: 100px;
    padding-top: 77px;

}



.rrr {
    display: inline-block;

    margin-left: 120px;
}

.rows-theme {
    font-size: 16px;
    text-transform: uppercase;
    color: #b4ad9e;
    margin: 0px;
    margin-bottom: 27px;
}

.rows-sentence {
    font-size: 30px;
    color: #626262;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 33px;

}

.text {
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    margin-bottom: 130px;
}

.rows-list-item {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    text-align: left;
    margin-right: 60px;
}

.photo {
    margin-bottom: 31px;
}

.button {
    display: block;
    border: 2px solid #626262;
    margin: 0 auto;
   
    margin-top: 55px;
    padding: 0;
    width: 160px;
    height: 60px;
    background-color: #ffffff;
    font-size: 25px;
    line-height: 24px;
    font-weight: 400;
    color: #626262;
    font-family: Yuppy SC Regular;
}