$main-color: #ffff;
$secondary-color: #333333;
$hover-color: #FCE38A;
$secondory-hover-color: #F38181;
$text-color: #999999;
$bg-color: #95E1D3;

$cursive-font: 'Kaushan Script', sans-serif;
$main-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;





