*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
html {
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', serif;
    font-size: 18px;
    line-height: 26px;
    color: #555252;
}

.container{
    width: 1110px;
    margin: 0 auto;
}
.container::after{
    display: table;
    content: '';
    clear: both;
    max-width: 100%;
}
.header-navigation{
    padding-top: 36px;
    padding-bottom: 104px;
    font-size: 0;
}
.site-navigation{
    
    margin-top: 10px;
    padding: 0;
    font-size: 14px;
    float: right;
}

.site-logo{
   float: left;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #555252;
    margin: 0;
    padding: 0;
    
}
.site-logo::first-letter{
    color: #1abc9c;

}
.site-navigation a:hover,
.site-navigation a:focus {
    color: teal;
}


.clearfix::after {
    display: table;
    content: '';
    clear: both;
    max-width: 100%;
}
.site-navigation-item{
   
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 700;
    float: left;
    line-height: 20px;
} 
.site-navigation-item a {
    text-decoration: none;
    color: #555252;
}

.site-navigation-item:last-child{
    margin-right: 0;
}
.site-navigation-item a:hover,
.site-navigation-item a:focus {
    color:  #1abc9c;
    
}
/* .site-navigation-item:focus {
    padding-right: 10px;
    outline-color: violet;
} */
.list-products{
    padding: 0;
    margin: 0 auto;
    padding-top: 90px;
}

h2::after{
    display:block;
    width: 165px;
    height: 7px;
    content: '';
    margin: 0 auto;
    margin-top: 30px;
    background-color: #1abc9c;
    
}
 .main-title1{
    font-family: 'Roboto', sans-serif;
     text-align: center;
     font-size: 48px;
     margin: 0 auto;
     color: #555252;
     padding: 0;
 }
 .list-products-item{
     width: 255px;
     height: 282px;
     list-style: none;
     float: left;
 }
 .list-products-item:hover .wrapper,
 .list-products-item:focus .wrapper {
    background-color: #1abc9c;;
 }
 .list-products-item:not(:nth-child(4n)) {
    margin-right: 30px; 
 }
.list-products-item:nth-child(-n+4) {
margin-bottom: 70px;
}    

 .clearfix::after{
     display: table;
     content: '';
     clear: both; }
.item-name{
    font-size: 18px;
    line-height: 40px;
    font-weight: 900;
    color:white;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    float: left;
    margin-left: 10px;
   
}
.item-price{
   height: 40px;
   width: 54px;
    color: white;
    background-color: rgba(255, 255, 255, 0.44);
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    float: right;
    
    
   
}

.wrapper{
    background-color: black;
    height: 40px;
    width: 254px;
    margin: 0;
    padding: 0; 
} 
.news{
    padding-top: 145px;  

}
.main-title2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
    color: #555252;
    padding: 0;
}
.products::after{
    display: table;
    content: '';
    clear: both;
    max-width: 100%;
}
.list-news{
    padding: 0;
    margin: 0 auto;
    padding-top: 80px;
    list-style: none;
}
.list-news-item{
    padding: 0;
    margin: 0;
    width: 350px;
    height: 260px;
   margin-right: 30px;
    float: left;
}
.list-news-item-lozung::after{
    display:block;
    width: 135px;
    height: 3px;
    content: '';
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #1abc9c;
}
.list-news-item-lozung{
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #555252;
}
.list-news-item-text{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 26px;
}
.list-news-item:last-child{
    margin-right: 0;
}
.button{
    display: block;
    margin: 0;
    padding: 14px 40px;
 
    width: 165px;
    height: 50px;
    background-color: #1abc9c;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans',serif;
   font-weight: 300;
    
    border-radius: 5px;
    text-decoration: none;
}