/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif, 'Roboto', sans-serif, 'Kaushan Script', cursive;
    font-size: 14px;
    line-height: 1.5;
    color: #555252;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
    transition: 200ms linear;
   
}

li {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 100%;

}
.main-header {
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    position: absolute;
}
.main-header-navigation {
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
   
}
.header-menu {
    padding-top: 36px;
     width: 618px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    width: 490px;
    justify-content: space-between;
}
.navigation-item {
    font-size: 14px;
    line-height: 16px;
   
}
.btn-list {
    
    display: flex;
    width: 80px;
    justify-content: space-between;
    
}
.site-logo {
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding-top: 26px;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 490px;
    

}
.item-link {

    display: block;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    transition: color;

}
.item-link:hover,
.item-link:focus {
    color: rgb(252, 227, 138);
}
.item-link::after {
    
    top: 30px;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    margin: 6px auto;
    background-color: rgb(252, 227, 138);
    visibility: hidden;
    opacity: 0;
}
.navigation-item:hover ::after {
    visibility: visible;
    opacity: 1;
}

.btn-list__svg {
    width: 19px;
    height: 16px;
    color: white;
    
}
.btn-list__item-link {
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
    
}
.welcome {
    padding-top: 200px;
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)), url('../img/eagle.jpg'); 
    height: 1000px;
    width: 100%;
    background-size: cover;
}

  
.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 820px;
    margin: 0 auto;
}
.welcome-text {
    width: 100%;
    font-size: 72px;
    /* line-height: 86px; */
    font-family: 'Kaushan Script';
    font-weight: 400;
    /* display: block; */
    text-align: center;
    color: white;
}
.welcome-lozung {
    margin-top: 12px;
    font-family: 'Montserrat';
    line-height: 140px;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    letter-spacing: -1px;
}
.welcome-btn {
    height: 40px;
    width: 160px;
    margin-top: 110px;
    color: white;
    background-color: transparent;   
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;  
    border: 2px solid white;
}
.box-title-1 {
    padding-top: 47px;
  
}
.box-title {
    padding-top: 47px;
   
}

.title-1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  

}

.title-1-part-1 {
    font-family: 'Kaushan Script';
    color: #333333;

}

.title-1-part-2 {
    font-family: 'Montserrat';
    display: block;
    font-size: 30px;

}

.title-1-part-1::after {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 36px auto;
    margin-bottom: 60px;
}

 .our-services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.our-services-list-item {
    flex-basis: 380px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    
}

.our-services-list-item:nth-child(-n+3) {
    margin-bottom: 100px;
}

.all {
    background-color: transparent;
    padding-left: 80px; 
    background-repeat: no-repeat; 
    content: '';
    text-align: left;
}

.all::before {

    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    content: '';
    left: 23px;
    top: 5px;
    width: 32px;
    height: 32px;

}

.item-box-1::before {

    background-image: url(../img/alarm.svg);

}

.item-box-2::before {

    background-image: url(../img/linegraph.svg);

}

.item-box-3::before {

    background-image: url(../img/computer.svg);
}

.item-box-4::before {


    background-image: url(../img/book.svg);

}

.item-box-5::before {


    background-image: url(../img/home.svg);
}

.item-box-6::before {


    background-image: url(../img/digital.svg);

}

.item-title {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
}

.item-text {
    font-family: 'Roboto';
    color: #999999;
    font-size: 14px;

}

.title-text {
    display: block;
    text-align: center;
    max-width: 980px;
    font-family: 'Roboto';
    color: #999999;
    font-size: 14px;
   
}

.our-team {
    padding-top: 90px;
    padding-bottom: 80px;
}

.team-list-item {
    width: 380px;
    position: relative;


}

.team-member-name {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
   

}

.team-member-occupation {
    font-family: 'Roboto', italic, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    color: #999999;
}

.overlay-list {
    display: flex;
    width: 225px;
    display: flex;
    justify-content: space-between;



}
.memberoverlay {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top,
            rgba(252, 227, 138, 0.9) 0%,
            rgba(243, 129, 129, 0.9) 100%);
    opacity: 0;
    visibility: hidden;
    transition: background-color 200ms linear;
}

.team-list {
    display: flex;
    justify-content: space-between;
}
.team-list-item:hover .img {
    transform: translate(-10px, -10px);
    
}

.team-list-item:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.team-list-item:hover .overlay {
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform: translate(-10px, -10px);
}

.overlay-list-item-link {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color;
}

.overlay-list-item-link:hover {
    background-color: #95e1d3;
}

.navigation-item,
.item-link,
.overlay-list-item-link,
.overlay {
    transition: 200ms linear;
}

.facebook,
.pinterest,
.instagram, 
.twitter {
    fill: #f38181;
}
.footer {
    
    padding-bottom: 20px;
   
   
 }
 .footer-wrapper {
     border-top: 1px;
     border-top-style: solid;
     border-top-color: rgb(229, 229, 229);
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 10px;
     padding-top: 10px;
 }
 
 .footer-text {
     padding-top: 20px;
     font-family: 'Montserrat', sans-serif;
 }
 
 .footer-text-color {
     color: #f38181;
     text-decoration: none;
 }
 
 .email-form {
     display: flex;
 }
 
 .email-input {
     font-family: 'Roboto';
     font-style: italic;
     font-size: 14px;
     padding-left: 10px;
     height: 40px;
     width: 230px;
     border: 1px solid #e7e7e7;
     border-right: none;
 }
 
 .content-btn {
     font-family: "Monserrat", sans-serif;
     font-size: 14px;
     font-weight: 700;
     height: 40px;
     width: 150px;
     color: #fff;
     background-color: #95e1d3;
     border: none;
     text-transform: uppercase;
     cursor: pointer;
 }

