/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../fonts/montserrat-v14-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* im-fell-double-pica-regular - latin */
@font-face {
    font-family: 'IM Fell Double Pica';
    font-style: normal;
    font-weight: 400;
    src: local('IM FELL Double Pica Roman '), local('IM_FELL_Double_Pica_Roman'),
        url('../fonts/im-fell-double-pica-v9-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/im-fell-double-pica-v9-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* im-fell-double-pica-italic - latin */
@font-face {
    font-family: 'IM Fell Double Pica';
    font-style: italic;
    font-weight: 400;
    src: local('IM FELL Double Pica Italic'), local('IM_FELL_Double_Pica_Italic'),
        url('../fonts/im-fell-double-pica-v9-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/im-fell-double-pica-v9-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif, 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;

}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
    margin: 0 auto;
}

li {
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
}

.container {
    width: 280px;
    margin: 0 auto;
    text-align: center;
}

.login-link {

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    border-width: 2px;
    background-color: transparent;
    width: 90px;
    height: 36px;

}

.login-link:hover,
.login-link:focus {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;

}

.main-header {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;

}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main-cover {
    margin-top: 16px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}


.logo {
    padding-top: 100px;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;

}

.cover-main-title {
    margin-top: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: -1px;
}

.cover-text {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.cover-btn-link {
    margin-top: 18px;
    display: block;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 900;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    width: 280px;
    height: 40px;
    text-decoration: none;
    padding-top: 10px;
}

.partner {
    padding-top: 68px;
    padding-bottom: 60px;
}


.partner-title {
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.partner-list {
    margin-top: 15px;
}
.lu, 
.ml,
.he  {
    margin-top: 30px; 
}

.name {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 15px;
}

.face-wrap {
    position: relative;
    width: 121px;
    height: 121px;
    margin: 0 auto;
}

.face-wrap::before {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    content: '';
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    width: 37px;
    height: 37px;
    top: 0;
    left: 0;
    top: 90px;
    left: 80px;
}

.face-wrap::before {
    background-image: url(../img/tv.png);
    background-color: rgb(255, 78, 80);

}

.person-2::before {
    background-image: url(../img/bottle.png);
    background-color: rgb(255, 165, 7);

}

.person-3::before {
    background-image: url(../img/cup.png);
    background-color: #1cd7ad;

}

.person-4::before {
    background-image: url(../img/plane.png);
    background-color: #4e73db;

}

.partner-list-text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;

}

.partner-list-item {
    height: 100%;
}

.partner-list-item:nth-child(2) {
    order: 2;
}

.partner-list-item:nth-child(3) {
    order: 3;
}

.partner-list-item:nth-child(4) {
    order: 4;
}

.cover-btn-link-2 {

    margin-top: 30px;
    display: block;
    font-size: 14px;
    border: solid;
    color: rgb(255, 78, 80);
    border-color: rgb(255, 78, 80);
    font-family: 'Montserrat';
    font-weight: 900;
    border-radius: 20px;
    background-color: transparent;
    width: 280px;
    height: 40px;
    text-decoration: none;
    padding-top: 7px;

}



@media (min-width:768px) {

    .container {
        width: 748px;
    }

    .header {
        background-image: url("../img/main2.jpg");
        height: 700px;
    }

    .main-header {
        flex-direction: row-reverse;
        padding-top: 36px;
        width: 660px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        padding: 0;
        margin: 0;
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 24px;
        font-weight: 900;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: block;

    }

    .btn-wrapper {
        margin: 0;
    }

    .main-cover {
        margin-top: 150px;

    }

    .cover-main-title {

        margin: 0 auto;
        font-size: 52px;
        line-height: 62px;
        font-weight: 900;
        width: 490px;

    }

    .cover-text {
        margin-top: 30px;
        line-height: 28px;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1px;

    }

    .cover-btn-link {
        margin: 0 auto;
        margin-top: 35px;
        display: block;
        font-size: 14px;
        line-height: 20px;
        width: 225px;
        height: 40px;

    }

    .partner-list {
        margin: 0 auto;
        margin-top: 30px;
        width: 492px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .partner-list-item {
        height: 100%;
        position: relative;
        width: 236px;
    }

    .face-wrap {
        position: relative;
        width: 121px;
        height: 121px;

    }

    .lu,
    .ml {
        margin-top: 56px;
    }
    .he {
        margin: 0;
    }

    .cover-btn-link-2 {
        width: 190px;
        height: 40px;
        margin: 0 auto;
        margin-top: 40px;
        padding-top: 7px;
    }

    .partner-list-item:nth-child(3) {
        order: 2;
    }

    .partner-list-item:nth-child(2) {
        order: 3;
    }
}

@media (min-width:940px) {

    .container {
        width: 940px;
    }
    .header {
        background-image: url(../img/main3.jpg);
     
    }
    .partner-list {  
        width: 940px;  
    
    }
    .partner-list-item {
        width: 220px;
    }

    .lu,
    .ml {
        margin: 0;
    }

}
